@import "variables";

// sass-lint:disable no-qualifying-elements

/* For an example of the detail & summary tags in use, please see /handbook/marketing/brand-and-digital-design/ */

summary h1,
summary h2,
summary h3,
summary h4,
summary h5,
summary h6 {
  cursor: pointer;
  margin: 0;
  vertical-align: middle;
}

details {
  border: 1px solid #eeeeee;
  color: $color-primary-alt;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

details[open] summary {
  margin-bottom: 24px;
}
