---
layout: markdown_page
title: "Product Kickoff Review"
---
<% keyValue = "13.0" # Set this to the next release we will kick off %> 
- TOC
{:toc}

## Overview

The next GitLab release we are kicking off is 
<%= keyValue %> 
and this page contains the list of issues that are currently planned for that release. We present this during the monthly kickoff call, which is livestreamed publicly to the [GitLab YouTube channel](https://www.youtube.com/channel/UCnMGQ8QHMAnVIsI3xJrihhg). 

In terms of meeting logistics, only presenters will be promoted to panelists so please use the “Raise my hand” feature if you are a presenter.
Please also use YouTube comments instead of Google Hangout or Zoom comments. During the meeting, Product Section leaders will present highlights from their respective areas. We will not cover each item in the list below, so feel free to click on any you're interested in and participate directly in the issue.

This page updates on the 22nd of each month to show the next release we will be kicking off. We also have [a YouTube playlist of the below referenced recorded Kickoffs](https://www.youtube.com/playlist?list=PL05JrBw4t0Kq6mfvHNWfH12TWutrHp9TC).

We'd appreciate it if you would be willing to provide us [feedback](
https://docs.google.com/forms/d/e/1FAIpQLSdNyIB_Rk3rn2-PI-5dWhb7rUfBLmGziTlbmeKYP-mFQEESQQ/viewform?usp=sf_link) on our Kickoff process.

## Dev Section

### Manage

**Video**: 
* [Manage: All Groups Kickoff Video](https://www.youtube.com/watch?v=HVHdGVmPNFI)

**Issues**:
<%= direction[keyValue]["manage"] %>

### Plan

**Video**: 
* [Plan: Project Management Kickoff Video](https://www.youtube.com/watch?v=dTKdF9j8-0E) 
* [Plan: Portfolio Management Kickoff Video](https://www.youtube.com/watch?v=_zVR3s30bLo)
* [Plan: Certify Kickoff Video](https://youtu.be/awCUPl2gi7s)

**Issues**:
<%= direction[keyValue]["plan"] %>

### Create

**Videos**:
* [Create:Source Code Kickoff Video](https://www.youtube.com/watch?v=qiPa_sCy6gA)
* [Create:Knowledge Kickoff Video](https://youtu.be/x9iXI7rn9Xs)
* [Create:Editor Kickoff Video](https://www.youtube.com/watch?v=_EP4RItq9Yg)
* [Create:Static Site Editor Kickoff Video](https://www.youtube.com/watch?v=RfRNPxbENsA)
* [Create:Ecosystem Kickoff Video](https://youtu.be/iaIROSmKSfw)
* [Create:Gitter Kickoff Video](https://youtu.be/4GfS0tOn7aA)
* [Create:Gitaly Kickoff Video](https://www.youtube.com/watch?v=bmRtvr0dv1g)

**Issues**:
<%= direction[keyValue]["create"] %>

## Ops Section

### Verify

**Videos**: 

* [Continuous Integration 12.10](https://www.youtube.com/watch?v=Lycb6By9F20)
* [Runner 12.10](https://www.youtube.com/watch?v=wBeM2ys9YMs)
* [Testing 13.0](https://youtu.be/uRJrm4XtmkA)

**Issues**:
<%= direction[keyValue]["verify"] %>

### Package

**Videos**: 

* [Package 12.10](https://youtu.be/Fs07pq_yf08)

**Issues**:
<%= direction[keyValue]["package"] %>

### Release

**Videos**: 

* [Release Management 13.0](https://youtu.be/krU9ejjVvUI)
* [Progressive Delivery 12.10](https://youtu.be/1skhnOlIVmA)

**Issues**:
<%= direction[keyValue]["release"] %>

### Configure

**Videos**: 
* [Configure 12.10](https://www.youtube.com/watch?v=DwRZkFGWPSk)

**Issues**:
<%= direction[keyValue]["configure"] %>

### Monitor

**Videos**: 
* [APM 12.10](https://www.youtube.com/watch?v=63I9WZcO7IU)
* [Health 12.10](https://www.youtube.com/watch?v=geFO9ZPuEzI)

**Issues**:
<%= direction[keyValue]["monitor"] %>

## Secure & Defend Section

### Secure

**Videos**: 
* [Static Analysis Kickoff Video](https://youtu.be/jVKUFCZ-J8U)
* [Dynamic Analysis Kickoff Video](https://youtu.be/SeuWP2lwHaI)
* [Composition Analysis Kickoff Video](https://youtu.be/UzqeHOnBk2Q)

**Issues**:
<%= direction[keyValue]["secure"] %>

### Defend

**Videos**: 
* [Threat Insights Kickoff Video](https://youtu.be/z_DFzxNSkgE)
* [Container Security Kickoff Video](https://youtu.be/uJmni8g95p4)

**Issues**:
<%= direction[keyValue]["defend"] %>

## Enablement Section

### Enablement

**Videos**: 

* [Distribution Kickoff Video](https://youtu.be/gfiFEHTEgvU)
* [Geo Kickoff Video](https://youtu.be/UE9D3RfHadY)
* [Memory Kickoff Video](https://youtu.be/YeZ3tKjbJOc)
* [Database Kickoff Video](https://youtu.be/3vUt6tfvLpE)

**Epics**:
- [Geo: Build a scalable, self-service geo replication and verification framework](https://gitlab.com/groups/gitlab-org/-/epics/2161)
- [Geo: Improved support for a planned failover](https://gitlab.com/groups/gitlab-org/-/epics/2148)
- [Geo: Enable Geo for Disaster Recovery on GitLab.com](https://gitlab.com/groups/gitlab-org/-/epics/575)
- [Geo: Selective sync should proxy to primary for unsynced data](https://gitlab.com/groups/gitlab-org/-/epics/2562)
- [Memory: Enable Puma on GitLab.com](https://gitlab.com/groups/gitlab-com/gl-infra/-/epics/78)
- [Memory: Enable Puma WebServer for GitLab](https://gitlab.com/groups/gitlab-org/-/epics/954)
- [Memory: Improve project import/export](https://gitlab.com/groups/gitlab-org/-/epics/1810)
- [Database: Database Partitioning](https://gitlab.com/groups/gitlab-org/-/epics/2023) 
- [Distribution & Database: Move to Postgres 11](https://gitlab.com/groups/gitlab-org/-/epics/2184)
- [Distribution: Add support for Patroni](https://gitlab.com/groups/gitlab-org/-/epics/2588)
- [Distribution: Increasing the maturity of the cloud native install](https://gitlab.com/groups/gitlab-org/-/epics/2260)
- [Search: Enable Advanced Global Search for Paid groups on GitLab.com](https://gitlab.com/groups/gitlab-org/-/epics/1736)

**Issues**:
<%= direction[keyValue]["enablement"] %>
